<a href="https://colab.research.google.com/github/yeauh/TTP_summer2023/blob/day1/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Strings & the `print()` function

In [69]:
print('Hi there')
# In this line I am using the print() method to print "hi there" to the user!

Hi there

In [70]:
print("There are two types of slashes: \\ and /") # This line only prints "There are two types of slashes: \ and /" because the first black slash indicates that the following
# character immediately following it should be treated differently, such as interpreting special characters or forming escape sequences.

There are two types of slashes: \ and /

In [71]:
print("""
    This is a tabbed line
This is a regular line
""")
# Here, we see the use of three quotation marks at the beginning and end of the argument to the print method, which indicates that the contents should be printed exactly
# as they are.

    This is a tabbed line
This is a regular line

In [72]:
print("\n\tThis is a tabbed line\nThis is a regular line")
# This line uses the black slash, which as stated above, indicates that the character immediately following

	This is a tabbed line
This is a regular line

In [73]:
print("first name" + ' last name')
# "first name" and 'last name'

first name last name

## Variables

In [74]:
dogs = 3
cats = "Many fluffy cats"
# dog equals the integer value of 3 and "Many fluffy cats" is assigned to the variable cats

In [75]:
dogs # Prints dog

3

In [76]:
cats

'Many fluffy cats'

In [77]:
type(dogs)
# Prints dogs' data type

int

In [78]:
type(cats)
# Print cats' data type

str

In [79]:
print(dogs)

3

In [80]:
hi = "Hello "
name = "John"
print(hi + name)
# Concatenation

Hello John

In [81]:
more_dogs = 5

print(dogs + more_dogs)
# Prints the result of more_dogs, 5, plus dogs, 3, which is 8

8

In [82]:
price = 19.99
amount = 3

In [83]:
print(price * amount)

59.97

In [84]:
# Variable re-assignment, from 3 to "New value"
dogs = "New value"

print(dogs)
# Prints "New Value" from the variable reassignment

New value

In [85]:
cats, dogs, rabbits = 2, 5, "cute"
# cats = 2
# dogs = 5
# rabbits = "cute" 

print(dogs)
# prints 5

5

## More Strings

### Indexing

In [144]:
greeting = 'Hello world!'

In [145]:
greeting # Prints contents of greeting

'Hello world!'

In [146]:
print(greeting[4])
# Prints the 5th element of 'Hello World', which is assigned to greeting

o

In [147]:
len(greeting)
# Prints the length of greeting, starting from 1

12

In [148]:
greeting[11]
# Prints the 12th element of 'Hello World', which is assigned to greeting

'!'

In [149]:
greeting[-1]
# Prints the 1st to last element of 'Hello World', which is assigned to greeting

'!'

### String Formatting

In [150]:
price = 59.99

In [202]:
message = "The product costs " + str(price) + " dollars"
# "The product costs 59.99 dollars" is assigned to the string "message".

In [203]:
message
# print message

'The product costs 19.99 dollars'

#### The `.format()` method!

In [204]:
msg = "The product cost {} dollars".format(price)

In [205]:
msg

'The product cost 19.99 dollars'

In [206]:
amount = 3
total = amount * price

In [207]:
msg2 = 'For {} products at the price of {}, the total will be: {}'

In [208]:
print(msg2.format(amount, price, total))

For 3 products at the price of 19.99, the total will be: 59.97

In [209]:
msg3 = "For {2} products at a price of {0}, the total is {1}"

In [210]:
print(msg3.format(price, total, amount))

For 3 products at a price of 19.99, the total is 59.97

#### The `f-String` Method!

In [211]:
price = 19.99
items = 3

In [212]:
msg = f'This individual produc is {price}'

In [213]:
msg

'This individual produc is 19.99'

In [214]:
msg2 = f'The total for your purchase is {price * items}'

In [215]:
msg2

'The total for your purchase is 59.97'

#### String Functions

In [216]:
dir(msg) # Prints out all useable functions for the msg variable

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [217]:
msg

'This individual produc is 19.99'

In [218]:
msg = 'Hello my name is Bob'

In [219]:
words = msg.split(' ')

#

In [220]:
print(words)

['Hello', 'my', 'name', 'is', 'Bob']

In [221]:
elements = msg.split('e')

In [222]:
print(elements)

['H', 'llo my nam', ' is Bob']

In [223]:
print(msg.upper())

HELLO MY NAME IS BOB

In [224]:
print(msg.lower())

hello my name is bob

## The `input()` Method

In [225]:
data = input('What is your name: ')
print(f'Hello {data}, hope your day is great!')

# The program gets an input for a name then prints "Hello " + input + ", hope your day is great!".

Hello hi, hope your day is great!

In [226]:
num = int(input('enter a number: '))
print(num)
# Prints the inputted value

9

In [227]:
type(num)

int

## Numbers

In [228]:
cats = 7
money = -35.5
x = 2+5j
message = "Hello Alice!"

In [229]:
print(type(cats))
print(type(money))
print(type(x))
print(type(message))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [230]:
shoes = 5
print(f"I own {shoes} pairs of shoes")
print(type(shoes))

I own 5 pairs of shoes
<class 'int'>

In [231]:
rate = 3/2
print(f"I can complete {rate} projects per month")
print(type(rate))

I can complete 1.5 projects per month
<class 'float'>

In [232]:
a = 6
b = 2.5
print(f"{a} * {b} = {a * b}")
print(type(a * b))

6 * 2.5 = 15.0
<class 'float'>

### Conversions

In [233]:
value = 3.8
convert = int(value)
print(convert)
print(type(convert))

3
<class 'int'>

In [234]:
number = int("25")
print(number)
print(type(number))

25
<class 'int'>

In [235]:
num2 = 'twenty'
print(len(num2))

6

In [236]:
value = 78
convert = float(value)
print(convert)
print(type(convert))
convert = float("56.48")
print(convert)
print(type(convert))
# Write a summary/explanation of what the cell is doing

78.0
<class 'float'>
56.48
<class 'float'>

In [237]:
value = 38
convert = complex(value)
print(convert)
print(type(convert))

# A compl

(38+0j)
<class 'complex'>

In [238]:
value = 28.4875
convert = str(value)
print(convert)
print(type(convert))

28.4875
<class 'str'>

In [239]:
# value = '5j'
# convert = int(value)
# print(convert)

In [240]:
data = input("Please enter a value: ")
print(int(data))
print(float(data))
print(complex(data))
print(str(data))

9
9.0
(9+0j)
9

In [241]:
pi = 3.14159
print(type(pi))
print(int(pi))
print(complex(pi))
print(str(pi))

<class 'float'>
3
(3.14159+0j)
3.14159

### Operations

#### The `Modulus` Operator

In [242]:
print(259 / 4)

64.75

In [243]:
print(259 % 4)

3

#### The `power` Operator

In [244]:
print(9 ** 4)

6561

In [245]:
2 ** 2

4

#### The `floor` Operator

In [246]:
print(9 // 4)

2

#### Assignament Operators

In [247]:
x = 9

In [248]:
x += 4
print(x)

13

In [249]:
# x = x + 4
x -= 4
print(x)

9

In [250]:
x *= 4
print(x)

36

In [251]:
x /= 4
print(x)

9.0

In [252]:
x %= 4
print(x)
x **= 4
print(x)
x //= 4

print(x)

1.0
1.0
0.0